.body {
  background-color: black;
}

.jumbotron {
  text-align: center;
  background: white;
}
.container {
  width: 75%;
  padding-bottom: 20px;
}


.panel {
  background-color: white;
  padding-left: 100px;
  padding: 20px;
}

.panel-heading {
  padding-bottom: 20px;
}

.quiz {
  text-align: center;
}

#question-1 {
  display: none;
}

#question-2 {
  display: none;
}

#question-3 {
  display: none;
}

#question-4 {
  display: none;
}

#question-5 {
  display: none;
}

#result {
  display: none;
}

.answer-box {
  margin: 0 auto;
}

ul {
  padding-left: 20%;
  list-style-type: none;
  list-style-position: inside;
  text-align: center;
  margin-left: 50px;
}

li {
  padding: 5px;
  text-align: left;
}

input[type="radio"] {
  margin-right: 10px;
}

img {
  width: 100px;
  margin: 15px;
}

.language-banner {
  display: block;
  padding: 20px;
}

.footer {
  text-align: center;
}

.emphasis {
  color: skyblue;
  font-size: 16px;
}

#footer-image {
  display: none;
  text-align: center;
}

#copyright {
  padding-top: 10px;
}