body {
  background-color: #356AA0;
}

hr{ 
  height: 1px;
  color: ##36393D;
  background-color: #36393D;
  border: none;
}

.jumbotron {
  text-align: center;
  background: #356AA0;
  color: white;
  text-shadow: 2px 2px 1px #212529;
}
.container {
  padding-bottom: 20px;
}

.content {
  display: none;
}

.panel {
  background-color: #EEEEEE;
  padding-left: 100px;
  padding: 20px;
  border-style: double;
  border-color: #36393D;
  border-width: 3px;
}

.panel-heading {
  padding-bottom: 20px;
}

.quiz {
  text-align: center;
}

.panel-title {
  font-weight: bold;
  font-size: 30px;
}

#question-1 {
  display: none;
}

#question-2 {
  display: none;
}

#question-3 {
  display: none;
}

#question-4 {
  display: none;
}

#question-5 {
  display: none;
}

#result {
  display: none;
}

.answer-box {
  margin: 0 auto;
}

ul {
  padding-left: 20%;
  list-style-type: none;
  list-style-position: inside;
  text-align: center;
  margin-left: 50px;
}

li {
  padding: 5px;
  text-align: left;
}

input[type="radio"] {
  margin-right: 10px;
}

img {
  width: 100px;
  margin: 15px;
}

.language-banner {
  display: block;
  padding: 20px;
}

.footer {
  text-align: center;
}

.emphasis {
  font-weight: bold;
}

#copyright {
  color: #EEEEEE;
}
#footer-image {
  display: none;
  text-align: center;
}

#copyright {
  padding-top: 10px;
}